<div class="card shadow border-0">
    <div class="card-body">
        <h5 class="d-inline">Machines</h5>
        <a href="@("/machines/create")" class="btn btn-success float-end">New</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody>
                @if (Data != null)
                {
                    @foreach (var machine in Data)
                    {
                        <tr>
                            <td>@machine.Id</td>
                            <td>@machine.Name</td>
                            <td>
                                @switch (machine.Status)
                                {
                                    case MachineStatus.Online:
                                        <span class="badge text-bg-success">@machine.Status</span>
                                        break;
                                    case MachineStatus.Offline:
                                        <span class="badge text-bg-light">@machine.Status</span>
                                        break;
                                }
                            </td>
                            <td>@machine.Type.Name</td>
                            <td>
                                <a href="@($"/machines/update/{machine.Id}")" class="btn btn-sm btn-primary">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="@($"/machines/delete/{machine.Id}")" class="btn btn-sm btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<MachineDto> Data { get; set; } = [];
}