<div class="card shadow border-0">
    <div class="card-body">
        <h5 class="d-inline">Machines</h5>
        <a href="/machines/create" class="btn btn-primary float-end">New</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var machine in Model)
                {
                    <tr>
                        <td>@machine.Id</td>
                        <td>@machine.Name</td>
                        <td>
                            @switch (machine.Status)
                            {
                                case MachineStatus.Online:
                                    <span class="badge text-bg-success">@machine.Status</span>
                                    break;
                                case MachineStatus.Offline:
                                    <span class="badge text-bg-light">@machine.Status</span>
                                    break;
                            }
                        </td>
                        <td>@machine.Type</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public IEnumerable<MachineViewModel> Model { get; set; } = [];
}