@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (Errors != null && Errors.Count() > 0)
{
    <Alert Errors="Errors" Color="AlertColor.Danger" />
}
<div class="card shadow border-0">
    <div class="card-body">
        <h5 class="d-inline">Daily Statistics</h5>
        <button class="btn btn-sm btn-primary float-end" @onclick=Refresh>
            <i class="bi bi-arrow-clockwise"></i>
        </button>
        @if (Loading)
        {
            <Spinner />
        }
        else
        {
            @if (Model != null)
            {
                <div class="mt-3">
                    <strong class="d-block">Total Machines</strong>
                    <span class="text-muted">@Model.TotalMachines</span>
                </div>
                <div class="mt-3">
                    <strong class="d-block">Excavators</strong>
                    <span class="text-muted">@Model.Excavators</span>
                </div>
                <div class="mt-3">
                    <strong class="d-block">Wheel Loaders</strong>
                    <span class="text-muted">@Model.WheelLoaders</span>
                </div>
                <div class="mt-3">
                    <strong class="d-block">Dozers</strong>
                    <span class="text-muted">@Model.Dozers</span>
                </div>
                <div class="mt-3">
                    <strong class="d-block">Online</strong>
                    <span class="text-muted">@Model.TotalOnline</span>
                </div>
                <div class="mt-3">
                    <strong class="d-block">Offline</strong>
                    <span class="text-muted">@Model.TotalOffline</span>
                </div>
            }
        }
    </div>
</div>